[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
circuitpython-build-tools = "*"
adafruit-circuitpython-neopixel = "*"
board = "*"
numpy = "*"
pillow = "*"
"adafruit-circuitpython-tsl2561" = "*"
adafruit-blinka = "*"
plotly = "*"

[dev-packages]

[requires]
python_version = "3.6"
