[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
circuitpython-build-tools = "*"
adafruit-circuitpython-neopixel = "*"
board = "*"

[dev-packages]

[requires]
python_version = "3.6"
